.red-button {
  background: #ec2027;
  padding: 8px 15px;
  font-size: 0.938rem;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}

.datatable-new-top {
  padding: 15px 0;
}

.card-new {
  padding: 1.875rem;
  background: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  box-shadow: 0 0 12px 0 rgba(52,58,64,.13);
  margin-bottom: 1.875rem;
}

.red-button:hover {
  color: #fff;
  text-decoration: none;
  background: #343a40;
}

label.error {
  color: #dc3545;
  font-size: 14px;
}